/* =================================================== INICIO ================================================================ */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../Image/background/background-image_02.jpg');
  background-repeat: no-repeat;
  align-items: stretch;
}

/* =================================================== HEADER ================================================================ */

header {
  display: flex;
  justify-content: space-around;
}

header h1 {
  color: transparent;
  text-align: center;
  font-size: 8vh;
  font-family: Helvetica;
  background: linear-gradient(800deg, rgba(228, 3, 3), rgba(255, 140, 0), rgba(255, 237, 0), rgba(0, 128, 38), rgba(0, 77, 255), rgba(117, 7, 255));
  -webkit-background-clip: text;
  background-size: 80%;
  animation: shine 5s linear infinite;
  filter: drop-shadow(2px 3px 0px rgb(0, 0, 0));
}

#img-logo {
  max-width: 250px;
  margin-left: 0.1vw;
  margin-top: 0.1vh;
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

/* =================================================== MAIN ================================================================ */

main {
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: space-around;
  gap: 20vw;
}

/* --------------------------------------- CONTAINER SELEÇÃO DE CAMPEÃO ----------------------------------------------------- */

.container_selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12vw;
}

.container_champ_nomes {
  height: 95%;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.8vw;
}

.container_setas {
  max-width: 100%;
  
  max-height: 20vh;
  
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30vw;
}

/* ________________________________________TRATAMENTO DA IMAGEM E NOME DO CAMPEÃO______________________________________________ */

#imagem {
  height: 100%;
  max-width: 24vw;
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
  animation: anim-stars 20s infinite;
}

@keyframes anim-stars {
  0% {
    transform: translate3d(0px, 0%, 0em);
  }
  50% {
    transform: translate3d(-3px, -2%, -3px);
  }
  100% {
    transform: translate3d(0px, 0%, 0em);
  }
}

#nome {
  color: transparent;
  font-size: 5vh;
  font-family: Hack, sans-serif;
  background: linear-gradient(800deg, #9b59b6, #3498db, #9b59b6);
  -webkit-background-clip: text;
  background-size: 80%;
  animation: shine 5s linear infinite;
  filter: drop-shadow(2px 3px 0px rgb(0, 0, 0));
}

#rota {
  color: transparent;
  font-size: 5vh;
  font-family: Hack, sans-serif;
  background: linear-gradient(800deg, #9b59b6, #3482db, #9b59b6);
  -webkit-background-clip: text;
  background-size: 80%;
  animation: shine 5s linear infinite;
  filter: drop-shadow(2px 3px 0px rgb(0, 0, 0));
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/* __________________________________________________CRIAÇÃO DA SETA LEFT_____________________________________________________ */

.center-con1 {
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: auto;
  max-height: 11vh;
  min-height: auto;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

.round1 {
  display: flex;
  position: relative;
  border: 4px solid #9b59b6;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

.round1:hover {
  border: 4px solid #fff;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.round1 span {
  z-index: 999;
  height: 4px;
  margin: 1px;
  width: 30px;
  background: #9b59b6;
  transition: 0.4s ease;
}

.round1 span:first-child {
  display: flex;
  position: absolute;
  transform: rotate(-45deg);
  left: 25%;
  bottom: 35%;
}

.round1 span:nth-child(2) {
  display: flex;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

.round1 span:nth-child(3) {
  display: flex;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

.round1 span:nth-child(4) {
  display: flex;
  position: absolute;
  transform: rotate(45deg);
  left: 45%;
  bottom: 54%;
}

.round1:hover span:nth-child(1) {
  transform: rotate(45deg);
}

.round1:hover span:nth-child(2) {
  transform: rotate(45deg);
}

.round1:hover span:nth-child(3) {
  transform: rotate(-45deg);
}

.round1:hover span:nth-child(4) {
  transform: rotate(-45deg);
}

/* __________________________________________________CRIAÇÃO DA SETA RIGHT_____________________________________________________ */

.center-con2 {
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: auto;
  max-height: 11vh;
  min-height: auto;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

.round2 {
  display: flex;
  position: relative;
  border: 4px solid #9b59b6;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

.round2:hover {
  border: 4px solid #fff;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.round2 span {
  z-index: 999;
  height: 4px;
  margin: 1px;
  width: 30px;
  background: #9b59b6;
  transition: 0.4s ease;
}

.round2 span:first-child {
  display: flex;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

.round2 span:nth-child(2) {
  display: flex;
  position: absolute;
  transform: rotate(45deg);
  left: 45%;
  bottom: 35%;
}

.round2 span:nth-child(3) {
  display: flex;
  position: absolute;
  transform: rotate(-45deg);
  left: 25%;
  bottom: 54%;
}

.round2 span:nth-child(4) {
  display: flex;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round2:hover span:nth-child(1) {
  transform: rotate(-45deg);
}

.round2:hover span:nth-child(2) {
  transform: rotate(-45deg);
}

.round2:hover span:nth-child(3) {
  transform: rotate(45deg);
}

.round2:hover span:nth-child(4) {
  transform: rotate(45deg);
}

/* ------------------------------------------- CONTAINER SELEÇÃO DO VIDEO ----------------------------------------------------- */

.teclado_video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* __________________________________________________CRIAÇÃO DO TECLADO_____________________________________________________ */

.teclado_top {
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

.teclado_top img {
  max-width: 100%;
  max-height: 10vh;
  min-width: auto;
  min-height: auto;
  cursor: pointer;
  border-radius: 10%;
  height: 10vh;
  background: linear-gradient(800deg, rgba(228, 3, 3), rgba(255, 140, 0), rgba(255, 237, 0), rgba(0, 128, 38), rgba(117, 7, 255));
  -webkit-background-clip: solid;
  background-size: 80%;
  animation: shine2 5s linear infinite;
}

.teclado_top img:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.teclado_bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

.teclado_bot img {
  max-width: 100%;
  max-height: 10vh;
  min-width: auto;
  min-height: auto;
  cursor: pointer;
  border-radius: 10%;
  height: 10vh;
  background: linear-gradient(800deg, rgba(228, 3, 3), rgba(255, 140, 0), rgba(255, 237, 0), rgba(0, 128, 38), rgba(117, 7, 255));
  -webkit-background-clip: solid;
  background-size: 80%;
  animation: shine2 5s linear infinite;
}

@keyframes shine2 {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.teclado_bot img:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* __________________________________________________CRIAÇÃO DO VIDEO_____________________________________________________ */

.video {
  max-width: 100%;
  min-width: auto;
  max-height: 55vh;
  min-height: auto;
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

/* =================================================== FOOTER ================================================================ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_footer {
  position: flex;
  bottom: 20px;
  filter: drop-shadow(2px 3px 1px rgb(0, 0, 0));
}

#rodape a {
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  bottom: 1px;
  position: flex;
  font-size: 1.5vh;
}

/* =================================================== RESPONSIVIDADE ================================================================ */

@media (max-width: 999px) {
  body {
    background-repeat: repeat;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5vh;
  }

  .container_selection {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
  }

  #img-logo {
    max-width: 30vw;
  }

  .container_setas {
    margin-left: -17vw;
  }

  .container_footer {
    bottom: 2px;
  }
}

@media (max-width: 810px) {
  .container_champ_nomes {
    min-width: 35vw;
    min-height: 45vh;
    margin-left: 0vw;
  }

  .container_setas {
    gap: 20vw;
    margin-left: -16vw;
    gap: 30vw;
  }
}

@media (max-width: 530px) {
  .container_champ_nomes {
    min-width: 45vw;
    min-height: 45vh;
    margin-left: 0vw;
  }

  .container_setas {
    position: relative;
    gap: 20vw;
    margin-left: 0vw;
    gap: 30vw;
  }
}

@media (max-width: 427px) {

  header h1 {    
    font-size: 6vh;
  }

  .container_selection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0vw;
  }

  .container_setas {
    position: relative;
    gap: 20vw;
    margin-left: 0vw;
  }

  .container_champ_nomes {
    min-width: 25vw;
    min-height: 25vh;
    margin-left: 0vw;
  }

  #rodape {
    font-size: 1.2vh;
  }
}
